
<div>
  <div  class='center'>
     <button class='black-btn' id="Add_New_Blog"> + Add New blog</button>
  </div>
 
  <div class="blogcard newBlog hide">
    <header class="blogcardheader">
    <h2>Create New Post</h2>
    </header>
    <form class='new-blog-form' >
      <div>
        <label for="title" class="form-label">Blog title</label>
        <input type="text" class="form-control" id="title">

        <div class="mb-3">
          <label for="content" class="form-label">Blog content</label>
          <textarea type="text" class="form-control" id="content"></textarea>
         
        </div>
        <div class="center mb-3">
           <button type="submit" class="black-btn" id="create">Create</button>
        </div>
        
      </div>
    </form>
  </div>

<!-- Loop over each object in the projects array -->

  {{#each blogs as |blog| }}
  <div class="bloglist" data-id={{blog.id}}>
    <h5 data-id={{blog.id}}>{{blog.title}}</h5> 
    <h6 data-id={{blog.id}} > {{format_date blog.date_created}} </h6>
  </div>
   
  <div class="blogcard  hide" id={{concat 'form' blog.id}}>
    <header class="blogcardheader">
    <h2>Update or delete  Post</h2>
    </header>
    <form class='new-blog-form  m-3' id={{concat 'form' blog.id}}>
      <div>
        <label for="title" class="form-label">Blog title</label>
        <textarea type="text" class="form-control" id={{concat "title" blog.id}} >{{blog.title}}</textarea>

        <div class="mb-3">
          <label for="content" class="form-label">Blog content</label>
          <textarea type="text" class="form-control" id={{concat "content"  blog.id}}>{{blog.content}}</textarea>
         
        </div>
           <button type="submit" class="black-btn mb-3 updateBlog" data-updateID={{blog.id}} >Update</button>
           <button type="submit" class="black-btn mb-3 deleteBlog" data-deleteID={{blog.id}} >delete</button>
      </div> 
    </form>
  </div>

  {{/each}}
  </div>
<script src="./js/dashboard.js"></script>